/* reset */
* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%; /* equivale a 10px - o default é 16px */
}

body {
  height: 100vh;
  color: white;
}

body,
input,
button,
textarea {
  font: 400 1.8rem/1 "Nunito", sans-serif;
}
